<div class="container">
  <%= link_to sanitize("&larr; Back to profile"), profile_path %>
  <div class="card shadow mt-4">
    <div class="card-body">
      <h1><%= t('profiles.edit_profile') %></h1>
      <%= render "form", profile: @profile %>
    </div>
  </div>
</div>
