<div class="container">
  <%= link_to sanitize("&larr; #{t('common.back')} #{t('customers.plural')}"), customers_path %>
  <div class="card shadow mt-4">
    <div class="card-body">
      <h1><%= t('customers.new_customer') %></h1>
      <%= turbo_frame_tag @customer do %>
        <%= render "form", customer: @customer %>
      <% end %>
    </div>
  </div>
</div>
