<div class="row">
  <div class="col text-center text-uppercase">
    <small>¿No ecuentras no que necesitas?</small>
    <h2>LLámanos</h2>
  </div>
  <div class="row justify-content-center">
    <div class="card">
      <%= image_tag "wp-logo.png" %>
      <div class="card-body">
        <h1 class="card-title">315 576 4556</h1>
        <p class="card-text">
          Estamos dispuesto a ayudarte con lo que encesitas.
        </p>
      </div>
    </div>
  </div>
</div>
