<div class="container">
  <div class="row">
    <div class="col text-center text-uppercase">
      <small>¿No encuentras lo que necesitas?</small>
      <h2>Llámanos</h2>
    </div>
    <div class="row justify-content-center">
      <div class="card">
        <%= image_tag "wp-logo.png" %>
        <div class="card-body">
          <h1 class="card-title">315 576 4556</h1>
          <p class="card-text">
            Estamos dispuestos a ayudarte con lo que necesitas.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
