<footer id="footer" class="container-fluid bg-dark py-5">
  <div class="container">
     <div class="row justify-content-center">
        <div class="col-md-6 text-center">
          <div class="logo-part">
            <%= image_tag 'logo_footer.png', class: "w-50" %>
            <p>
              Cooperativa multiactiva comercializadora y distribuidora de productos agrícolas
            </p>
            <p>Vende tu café, compra tu Fertilizante.</p>
           </div>
        </div>
     </div>
     <hr>
     <div class="row justify-content-center">
       <div class="col text-center">
         2022 <%= link_to "YeinerCQ", "https://github.com/yeinercq" %>
       </div>
     </div>
  </div>
</footer>
