.status {
  color: black;
  padding: 5px 15px;
  font-size: small;
  border-radius: 15px;
  margin-left: 5px;

  &__guardada {
    background: yellow;
  }

  &__confirmada {
    background: blue;
  }
  &__pagada {
    background: green;
  }
  &__entregada {
    background: red;
  }
}
