<div class="container">
  <%= link_to sanitize("&larr; Back to product"), product_path(@product) %>
  <div class="card shadow mt-4">
    <div class="card-body">

      <h1>New sale price for product <%= @product.name %></h1>
      <%= render "form", product: @product, sale_price: @sale_price %>
    </div>
  </div>
</div>
