<div class="container">
  <%= link_to sanitize("&larr; #{t('common.back')} #{t('products.plural')}"), products_path %>
  <div class="card shadow mt-4">
    <div class="card-body">
      <h1><%= t('products.new_product') %></h1>
      <%= turbo_frame_tag @product do %>
        <%= render "form", product: @product %>
      <% end %>
    </div>
  </div>
</div>
