<div class="col-xl-3 col-md-6 mb-3">
  <div class="card balance-card shadow py-2">
    <div class="card-body">
      <div class="row no-gutters align-items-center">
        <div class="col">
          <div class="text-primary text-uppercase mb-1">
            <%= title %>
          </div>
          <div class="h5 mb-0">
            <%= number_to_currency(value, unit: "$", format: "%u %n") %>
          </div>
        </div>
        <div class="col-auto">
          <i class="bi bi-cash-coin"></i>
        </div>
      </div>
    </div>
  </div>
</div>
