<div class="container">
  <%= link_to sanitize("&larr; Back to sales"), sales_path %>
  <div class="card shadow mt-4">
    <div class="card-body">

      <h1>New sale</h1>
      <%= render "form", sale: @sale %>
    </div>
  </div>
</div>
