<div class="mt-2">
  <div class="card shadow-sm">
    <div class="card-body">
      <div class="row align-items-center">
        <div class="col">
          <%= export.key %>
        </div>
        <div class="col">
          Status: <%= export.status %>
        </div>
        <div class="col">
          File: <%= export.file_path %>
        </div>
      </div>
    </div>
  </div>
</div>
