<div class="container">
  <%= link_to sanitize("&larr; #{t('common.back')} #{t('exports.plural')}"), exports_path %>
  <div class="card shadow mt-4">
    <div class="card-body">
      <h1><%= t('exports.singular') %></h1>
      <%= render "form", export: @export %>
    </div>
  </div>
</div>
